<nav class="  navbar navbar-expand-lg navbar navbar-dark bg-dark">

	<div class="container d-flex justify-content-between">

		<div>
			<a class="navbar-brand" href="#">Hello kitty!</a>
		</div>

    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link " href="/login" tabindex="-1" aria-disabled="true">Login</a>
        </li>

		<li class="nav-item">
			<a class="nav-link " href="/register" tabindex="-1" aria-disabled="true">Register</a>
		</li>
    </ul>
	</div>
</nav>
